@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
.umform{
	-fx-background-color:
	 #3d5a80;
	}

.label-Sat{
	-fx-text-fill: #D4E6F1;
	-fx-font-family: 'Jua', sans-serif;
}
.label-Son{
	-fx-text-fill: #FADBD8;
	-fx-font-family: 'Jua', sans-serif;
}
.label{
	-fx-font-family: 'Jua', sans-serif;
}
.Button {
    -fx-background-color: 
        #98c1d9;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: 'Jua', sans-serif;
    -fx-font-size: 18px;
    -fx-padding: 10 20 10 20;
}
.GridPane{
	-fx-background-radius: 50,50,50,50;
	-fx-border-color: #d0d0d0;
	-fx-border-width: 2;
}
#dark-blue Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );
}

.HBox-upper{
    position:fixed;
    -fx-background-color:
	  #293241;
     height: 150;
}
.g-label{
    margin-bottom: 10;
    margin-left: 280;
    -fx-font-family: 'Jua', sans-serif;
    -fx-font-style: italic;
    -fx-font-weight: bold;
    -fx-font-size : 36;
    -fx-text-fill :#ee6c4d;
}